.app-nav{
	height: 75px;
}
.title-app{
  font-family: 'Architects Daughter', cursive;
	font-size: 30px;
}
.app-label{
	font-size: 16px;
}
.app-btn{
	background: transparent;
	color: inherit;
	transition: .3s;
}
.has-border-bottom{
	border-bottom: 1px dotted black;
}
.styless{
	list-style: none;
}
.property-item{
	overflow: hidden;
	margin: 10px auto;
	border-bottom: 1px solid green;
}
.property-name{
	text-transform: uppercase;
}
.property-value{
	text-decoration: underline;
}
.small-property{
	font-size: 12px;
	color:#CC3333;
}
.has-margin-bottom{
	margin-bottom: 20px;
}
.has-margin-top{
	margin-top: 20px;
}